/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body {
  background: url("../assets/images/lab1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#main-title {
  color: #FFDE7A;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(50,50,50,0.6);
  border-style: ridge;
  border-color: rgba(150,150,150,0.6);
  align: center;
  align-content: center;
}


#pslo {
}

.section { /* Example of grouping */
background-color: rgba(50,50,50,0.6);
color: rgba(230,230,230,0.75);
}


#faculty-list {
     padding-left: 0;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap-reverse;
     margin: auto;
}

#faculty>ul>li {
    display: inline-block;
    font-family: sans-serif;
    padding: 2%;
    text-align: center;
    }


img.pic {
    width: 100%;
    border: 4px solid #000000;
}

.section:hover {
background-color: rgba(50,50,50,0.8);
transition: all 0.3s ease;
}

