/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body { /* Stylesheet to be graded - 1 */
  background: url("../assets/images/lab1.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#main-title { /* Stylesheet to be graded - 2 */
  color: silver;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  background-color: rgba(50,50,50,0.6);
  border-style: ridge;
  border-color: rgba(150,150,150,0.6);
  align-content: center;
    font-size: 5rem;
}


.section { /* Example of grouping */
background-color: rgba(50,50,50,0.6);
color: rgba(230,230,230,0.75);
 border-style: ridge;
  border-color: rgba(150,150,150,0.6);
}

#faculty { /* Example of nesting / id  */
    display: flex;
}


#faculty-list { /* Nesting / ID */
     padding-left: 0;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: auto;
     }

img.pic {
    width: 100%;
    border: 4px solid rgba(230,230,230,0.1);
}

img.pic:hover{ /* Stylesheet to be graded - 3 */
border: 4px solid rgba(50,0,0,0.8);
transition: all 0.222s ease;
}

#faculty>ul>li { /* Nested */
    display: inline-block;
    padding-left: 10px;
    text-align: center;

    }

   .name { /* Stylesheet to be graded - 4 */
   text-decoration: underline;
   text-decoration-color: rgb(160,160,160) ;
   text-decoration-style: dotted;
   }


.section:hover { /* Stylesheet to be graded - 5 */
background-color: rgba(50,50,50,0.8);
transition: all 0.3s ease;
}

#validation {
background-color: rgba(50,50,50,0.6);
color: rgba(230,230,230,0.75);
}

#style {
background-color: rgba(50,50,50,0.6);
color: rgba(230,230,230,0.75);
}
