/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{ /* Stylesheet to be graded - 1 */
    padding: 30px;
    background-color: tan;
    font-family: 'Rye', cursive;
    filter: sepia(60%);
}

.faculty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-title {   /* Stylesheet to be graded - 2 */
    color: #FFDE7A;
    text-align: center;
    font-size: 4rem;
    background-color: #8b5a2b;
    border-radius: 25px;
    filter: drop-shadow(6px 7px 8px beige);
}

h1 {
    color: #FFDE7A;  /* Stylesheet to be graded - 3 */
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

h2 {
    color: #FFDE7A;  /* Stylesheet to be graded - 4 */
    text-decoration-line: underline;
}

p1{
}

.section {
    color: #FFDE7A;
    border-radius: 25px;
    padding: 20px;
    border: 5px solid;
    margin: 10px;
    max-width: 30em;
    filter: drop-shadow(6px 7px 8px beige);
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-between;
}

#courses {
      background-color: #8b5a2b;
      flex-direction: column;
      flex-wrap: wrap;
      float: right;
}

#pslo {
    background-color: #8b5a2b;
        display: flex;
 flex-wrap: wrap;
     max-width: 70em;
}

#faculty {
    background-color: #8b5a2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
        max-width: 80em;
}

img.pic { /* Stylesheet to be graded - 5 */
    filter: sepia(100%)

}
img.pic:hover{ /* Stylesheet to be graded - 6 */
    filter: drop-shadow(19px 19px 19px white);
}

#faculty>ul>li {
    display: inline-block;
    padding: 30px;
    text-align: center;
}



